=render "searchform"
.row
  .large-6.columns
    - @view_data.left_side_results["JobSearchResult"].each do |jobresult|
      .row.job-row
        .large-6.columns
          = link_to jobresult["JobTitle"], jobresult["JobDetailsURL"]
        .large-2.columns
          =jobresult["Company"]
        .large-2.columns
          =jobresult["Location"]
        .large-2.columns
          =jobresult["PostedDate"]
  .large-6.columns
    - @view_data.right_side_results["JobSearchResult"].each do |jobresult|
      .row.job-row
        .large-6.columns
          = link_to jobresult["JobTitle"], jobresult["JobDetailsURL"]
        .large-2.columns
          =jobresult["Company"]
        .large-2.columns
          =jobresult["Location"]
        .large-2.columns
          =jobresult["PostedDate"]