.row
  .small-12.columns
    %h1
      You're* Teams
- @teams.each do |team|
  .row.commit
    .small-12.large-5.columns
      = image_tag(team.organization.avatar_url, class: 'gravatar')
      = team.name
    .small-12.large-7.columns.commit-message
      = link_to 'Pull Requests',team_prs_path(teams: team.id)
      |
      = link_to 'Repositories',repos_path(team_id: team.id)
.row.small-12.correction
  *Your
