%h1 Version Detail

%h2 Changes to CB-Mobile
- @commits.each do |commit|
  .row
    .large-12.columns
      = link_to commit["commit"]["message"], commit["html_url"]

%h2 Changes to JobSearch
- @jobsearch_changes.each do |change|
  .row
    .large-12.columns
      = link_to change[:title], change[:url]