.row
  .small-12.columns
    %h1 What was deployed then?

.row
  .small-12.columns
    %h2 Changes to CB-Mobile
- @commits.each do |commit|
  .row
    .small-12.columns
      = link_to commit["commit"]["message"], commit["html_url"]

.row
  .small-12.columns
    %h2 Changes to JobSearch
- @jobsearch_changes.each do |change|
  .row
    .small-12.columns
      = link_to change[:title], change[:url]
- if @jobsearch_changes.count == 0
  .row
    .small-12.columns
      No changes
