@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
body {
  margin: 1em 0;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
}
h1, h2 {
  font-family: 'Shadows Into Light Two', cursive;
}
h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
.gravatar {
  width: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(221,221,221,1);
  -moz-box-shadow: 1px 1px 5px 2px rgba(221,221,221,1);
  box-shadow: 1px 1px 5px 2px rgba(221,221,221,1);
  margin: 0 5px;
}
.commit {
  margin-bottom: 1em;
}
.back-link, .commit-message {
  border-bottom: 1px solid #eee;
  padding-bottom: .5em;
}
.repo-header {
  padding: .5em 0;
}
.commit-message {
  margin-top: .5em;
}
@media only screen and (min-width: 768px) {
  .commit-message {
    margin-top: 0;
  }
}