.row
  .small-12.columns
    %h1
      = 'Revert instructions'
.row
  .small-12.columns
    %h5
      ⚠ Caution the following will force the production branch back to this specific version
.row.commit
  %code
    git checkout production; git pull; git reset --soft #{ params[:commit] }; git push -f --no-verify origin production